*{
  margin: 0;
  padding: 0;
}


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import "./partials/base";
@import "./partials/abstracts";
@import "./partials/components";

.nav{
width: 100%;
}

/*INDEX*/
.containerl {display: grid;
  grid-template-columns: 6fr 6fr;
  grid-template-rows: 0.7fr 1.5fr 1.5fr 0.5;
  gap: 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "section1 section1"
    "section2 section3"
    "section4 section5"
    "footer footer";
}
    
  .section1 { grid-area: section1;
    height: 48rem;
    background-color: black;
    background-image: url(../fotos/index3.0.png);
  }

 .section1_img{
   width: 70rem;
   height: 30rem;
  margin-top: 120px;
  margin-left: 80px;
 }

  .section2 { grid-area: section2;
    height: 40rem;
    width: 100%;
    text-align:center;
    align-items: center;
  
  }
  .titlegalery{
    font-size: 5rem;
    font-weight: bold;
    font-style: italic;
    margin-top: 50px;
  }

  .section3 { grid-area: section3;
    height: 40rem;
    width: 100%;
    background-image: url(../fotos/section3img2.0.png);
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .section4 { grid-area: section4;
    height: 70rem; 
   
    margin: 10px;
    background-image: url(/fotos/indoor_8.png);
    background-size: cover;
  }
  .section4_title{
    font-size: 5rem;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.481);
  }
  .section4_title2{
    font-style: italic;
    font-size: 3em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.481);
  }
  
  .section5 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "card_1 card_2"
      "card_3 card_4"
      "card_5 card_6";
    grid-area: section5;
    height: 70rem;
    flex-flow: row wrap;
    }

/*RESERVAR CLASES*/
.mainreservarclase {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 0.2fr 1.5fr 1.7fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "reservarclase_seleccionador"
    "reservarclase_semana"
    "reservarclase_calendario"
    "reservarclase_selectordelugar"
    "footer";
}

.reservarclase_seleccionador { grid-area: reservarclase_seleccionador; 
  background-color: #310e68;
  background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
  line-height: 1.3;
  padding: 10px;
  text-align: center;
  margin-top:100px;
}
.reservarclase_semana {  display: grid;
  grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  "lunes martes miercoles jueves viernes sabado domingo";
  grid-area: reservarclase_semana;
  align-items: center;
  text-align: center;
}

.lunes { grid-area: lunes; }

.martes { grid-area: martes; }

.miercoles { grid-area: miercoles; }

.jueves { grid-area: jueves; }

.viernes { grid-area: viernes; }

.sabado { grid-area: sabado; }

.domingo { grid-area: domingo; }

.reservarclase_calendario { grid-area: reservarclase_calendario;
  background-image: url(/fotos/reserva_calendario.png);
  background-size: cover;
  height: 25rem;
  margin-top: 10px;
}
  
.reservarclase_selectordelugar { grid-area: reservarclase_selectordelugar;
  background-color: #310e68;
  background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
  height:30rem;
  width: 100%;
  margin-top: 10px;
  margin-right: 50px;
  margin-right: 50px;
  justify-content: center; }

.selectordelugar_imagenprevista{
height: 30rem;
width: 50rem;
margin-left: 250px;

}
  
.footer { grid-area: footer; }



/*COMPRAR CLASES*/
.maincomprarclase{  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 1.8fr 1.5fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "comprarclase_total comprarclase_total"
    "comprarclase_img comprarclase_form"
    "comprarclase_img comprarclase_form"
    "footer footer";
    width: 100%;
}

.comprarclasePaquetes{ grid-area: comprarclase_total;
  background-color: #310e68;
  background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
  line-height: 1.3;
  padding: 20px;
  font-size: small;
  text-align:center;
  height: 17rem;
  justify-content:space-around;
}
.seleccionaPaquetetitle{
  text-align: start;
}
.resumendecompraPrecio{
  font-size: 3rem;
  align-items: flex-end;
  text-align: start;
}
.botontitle{
  font-size: 15px;
}
.botonprice{
  font-size: 15px;
}
.comprarclase_img { grid-area: comprarclase_img;
  background-image: url(../fotos/compraclaseimg.png);
  background-size: cover;
  text-align: center;
  height: 60rem;
}

.comprarclase_form { grid-area: comprarclase_form;
  background-color: #310e68;
  background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%); 
  text-align: start;
  font-size:1em ;
  margin-top:0;
  padding: 20px;
  height: 60rem;
  line-height:3em;
  font-size: 20px;
}
.form-check-label{
  font-size: small;
  align-items: center;
}
.paypal{
  width: 7rem;
  height: 7rem;
}
.footer { grid-area: footer; }




/*NOSOTROS*/
.mainnosotros {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1.7fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nosotros_title"
    "nosotros_story"
    "nosotros_galeria"
    "footer";
}

.nosotros_title { grid-area: nosotros_title; 
  height: 8rem;
  margin-top: 7rem;
  margin-left: 10px;}

.nosotros_title-1{
  font-size: 4rem;
  justify-content: center;
  text-align: center;
}

.nosotros_story { grid-area: nosotros_story; 
  height: 20rem;
  background-color: #310e68;
  background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
  text-align: center;
}
.nosotros_story-title{
  font-size: 2rem;
}
p{
  margin-top: 10px;
}
.nosotros_galeria { grid-area: nosotros_galeria;
  height: 30rem; 
  margin-left: 50px;
  margin-right: 50px;
}
.carousel{
  height: 30rem;
}
.carousel-inner img {
  width: 100%;
  max-height: 460px;
}

.carousel-inner{
  margin-top: 20px;
justify-content:center ;
height: 45rem;
}
.footer { grid-area: footer; }




/*LOGIN*/
  .mainlogin {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.4fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "login1 form1"
      "footer footer";
      width: 100%;
      margin-top: 20px;
  }
 
  .login1 { grid-area: login1;
    background-image: url(/fotos/Copiadeindoor_12.png);
    background-size:cover;
    text-align: center;
    height: 45rem;
  }
 
  .login1__title{
    font-size: 5rem;
    font-weight: bold;
    margin-top: 40px;
  }
  .login1__title2{
    font-style: italic;
    font-size: 3em;
    text-align: center;
  }
  .form1 { grid-area: form1;
    background-color: #310e68;
    background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%); 
    text-align: start;
    font-size: 1em;
    margin-top:0;
    padding: 20px;
    height: 45rem;
    line-height:3em;
    font-size: 20px;
  }

  .form1__title{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }



/*CREAR CUENTA*/
.maincrearcuenta {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2.4fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "crearcuenta1 form2"
    "footer footer";
    width: 100%;
    margin-top: 70px;
}

.crearcuenta1{ grid-area: crearcuenta1;
  background-image: url(/fotos/Copiadeindoor_12.png);
  background-size:cover;
  text-align: center;
  height: 45rem;
}

.crearcuenta1__title{
  font-size: 5rem;
  font-weight: bold;
  margin-top: 40px;
}
.crearcuenta1__title2{
  font-style: italic;
  font-size: 3em;
  text-align: center;
}
.form2{ grid-area: form2;
  background-color: #310e68;
  background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%); 
  text-align: start;
  font-size: 1em;
  margin-top:0;
  padding: 20px;
  height: 45rem;
  line-height:3em;
  font-size: 20px;
}

.form2__title{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}



/*FOOTER*/
  .footer { grid-area: footer;
    margin-top: 10px;
    height: 3rem;
  }
  .footer__titulo{
    font-size: 1.5rem;
    margin-left: 20px;
  }
  h6{
    margin-left: 20px;
  }
  .map{
    display: inline-block;
    justify-content:flex-end;
    justify-items:flex-end;
    margin-left: 100px;
  }

  .bi-facebook{
    @include redes ($fb);
   
  }
  .bi-instagram{
    @include redes ($insta)
  }
  




//RESPONSIVE
@media screen and (max-width:425px){
  .containerl{
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 0.5fr 1fr 1fr 3.5fr 2fr;
    grid-template-areas:
     "section1"
     "section2"
     "section3"
     "section4"
     "section5"
     "footer";
    width: 100%;
    align-items: center;
  }
}
@media screen and (max-width:425px){
  .section1{
    width: 100%;
    height: 20rem;
  }
}
@media screen and(max-width:425px){
.section1_img{
width:30rem;
height: 12rem;
margin-top: 88px;
margin-left: 60px;
  }
  
}
@media screen and (max-width:425px){
  .section2{
    height: 15rem;
    justify-items: center;
    width: 100%;
  }
}
@media screen and (max-width:425px){
  .titlegalery{
    font-size: 2rem;
    text-align: center;
  }
}
@media screen and (max-width:425px){
  .section3{
    height: 20rem;
    width: 100%;
  }
}
@media screen and (max-width:425px){
  .section4{
    height: 20rem;
    width: 100%;
  }
}
@media screen and (max-width:425px){
  .section5{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
     "opcion1"
     "opcion2"
     "opcion3"
     "opcion4"
     "opcion5"
     "opcion6";
    height: 40rem;
    width: 100%;
    margin-top: 0%;
  }
}


@media screen and (max-width:425px){
  .maincomprarclase{
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
    "comprarclase_total"
    "comprarclase_img"
    "comprarclase_form"
    "footer";
  height: 100vw;
  }
}
@media screen and (max-width:425px){
  .comprarclase_img{
    height: 37rem;
  }
}


@media screen and (max-width:425px){
  .maincrearcuenta{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "crearcuenta1"
      "form2"
      "footer";
    align-items: center;
    height: 60rem;
      }
}
@media screen and (max-width:425px){
  .crearcuenta1{
    align-items: center;
    height: 25rem;
    margin: none;
        }
}
@media screen and (max-width:425px){
  .form2{
    height: 40rem;
    align-items: center;
    font-size: 15px;
    margin-top: none;
          }
}

@media screen and (max-width:425px){
  .mainlogin{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "login1"
      "form1"
      "footer";
    align-items: center;
    height: 60rem;
      }
}
@media screen and (max-width:425px){
  .login1{
    align-items: center;
    height: 25rem;
    margin: none;
        }
}

@media screen and (max-width:425px){
  .form1{
    height: 30rem;
    align-items: center;
    font-size: 20px;
    margin-top: none;
          }
}

@media screen and (max-width:425px){
  .mainnosotros{
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.5fr 0.3fr;
    grid-template-areas:
    "nosotros_title"
    "nosotros_story"
    "nosotros_galeria"
    "footer";
  }
}
@media screen and (max-width:425px){
  .nosotros_story{
    height: 40rem;
  }
}
@media screen and (max-width:425px){
  .nosotros_galeria{
    height: 20rem;
  }
}
@media screen and (max-width:425px){
.carousel{
  height: 20rem;
}
}
@media screen and(max-width:425px){
  .carousel-inner{
    height: 20rem;
  }
  
}

//reserva
