//MIXINS

$fb: rgb(63, 63, 197);
$insta: rgb(149, 49, 149);

@mixin redes($hover) {
    font-size: 60px;
    text-align: start;
    margin-left: 30px;
    margin-right: 10px;
    color: white;
    &:hover{
      color: $hover;
    }   
}

