
@import "./partials/components";

//FORMATO BASE
 
$bgcolor:black;
$textcolor:white;
body{
    font-family: 'Montserrat', sans-serif;
    background-color: $bgcolor;
    color: $textcolor;
  }

//FORMATO CARDS
  .card{
    background-color: black;
    border: $optionborder;
    text-align: center;
    &:hover{
      opacity: 1;
      border: solid 5px white;}
  }
.card_1{
  background-color: black;
  border: $optionborder;
  text-align: center;
  &:hover{
    opacity: 1;
    border: solid 5px white;}

}