//NAV
.navbar{
    height: 5.5rem;
}
.nav-item{
    color: rgb(55, 3, 85);
    text-align: start;
}

//BUTTONS
.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #310e68;
    background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 15rem;
    height: 5rem;
  }
      .button-galeria{
        @extend .button-54;
        border-color: rgb(208, 201, 201);
      }
      .button-o{
        @extend .button-54;
        border-color: white;
        background-color: rgb(26, 25, 25);
        color: white;
      }

  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }


//CARDS
$optionborder:2px solid white;
//MAP
$l:rgb(255, 255, 255);
$m: rgb(173, 98, 170);
$s: rgb(68, 64, 72);

$cards:(
  l:rgb(255, 255, 255), 
  m:rgb(173, 98, 170),
  s:rgb(68, 64, 72),
);

$l:map-get($cards, l );
$m:map-get($cards, m );
$s:map-get($cards, s );

h2{
  font-size: 5rem;
  color:$l;
}
h3{
  color:$m;
}
h4{
  color:$s;
}


//LINKS
//LABELS